# Salin file ini menjadi ".env.local" lalu isi dengan nilai dari project Supabase Anda.
# Lokasi nilai ini: Supabase Dashboard > Project Settings > API

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key-here